/*

Filename:				adaptive.css
Author:					Tim N
Style Type:				Responsive Stylesheet
Modification Date:		2/13/2014
Ver:					1.0

Changelog:				v1.0 - 01.22.2014
IE Support:				IE10+

*/

/*==| MEDIA QUERIES |=======================================*/

@media only screen and (max-width: 800px) {
form > div.form_row {
	margin: 0 0 15px 0; 
}
form > div.form_row > label,
form > div.form_row > div.nolabel,
legend {
	width: 100%;
	float: none;
	margin: 0 0 5px 0;
	display: block;
}
form > div.form_row > div,
form > div.form_row > fieldset > div {
	width: 100%;
	float: none;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
	width: 100%; 
}


/* Responsive Table */

/* Force table to not be like tables anymore */
table, th, td, tr, thead, tbody { 
	display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
table thead tr:first-child { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}


table tr { border-top: 1px solid #ccc; }

table tr td { 
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px dotted #ccc; 
	position: relative;
	padding: 6px 0 6px 50%;
	text-align: left; 
}

table tr:last-child td {
  border-bottom: 1px dotted #ccc;
}

table tr td:before { 
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
	text-align:left;
}

/*
Label the data
*/
td:nth-of-type(1):before { content: "Name"; }
td:nth-of-type(2):before { content: "PO"; }
td:nth-of-type(3):before { content: "Conf Name"; }
td:nth-of-type(4):before { content: "Conf Sponsor"; }
td:nth-of-type(5):before { content: "State/Country"; }
td:nth-of-type(6):before { content: "City"; }
td:nth-of-type(7):before { content: "Begin Date"; }
td:nth-of-type(8):before { content: "End Date"; }


}

@media only screen and (min-width: 1024px) {

form > div.form_row > label,
form > div.form_row > div.nolabel,
legend {
	text-align: right;
}	
	
}


@media screen and (max-width: 1023px) {

#page_wrapper {
	padding: 0;
	width: auto;
	position: relative;
}
	
}

/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 480px) {

/*#page_wrapper h1 {
	margin: 0;
	padding: 0;
}*/

#page_wrapper_hm h1 a {
	background-image: url(https://cloud.githubusercontent.com/assets/12158413/7551118/2f4e6c5c-f64b-11e4-85e7-124f25ba746b.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	width: 133px;
	height: 76px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;	
	margin: 0 auto;
	text-align: center;
	line-height: none;
}

#page_wrapper h1 a {
	background-image: url(https://cloud.githubusercontent.com/assets/12158413/7551120/2f50d3b6-f64b-11e4-8fa6-1d08b40f6b5b.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	width: 109px;
	height: 95px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

#page_wrapper_hm h2 {
	font-size: 1.3125em;
	margin: 0 0;
}

#header,
#descriptor,
#form_wrapper,
#footer {
	padding-left: 20px;
	padding-right: 20px;
}

}

